/* Colors */

$page-header-color: #a6a6a6;
$section-header-color: #a6a6a6;
$text-color: #333333;
$link-color: #56819F;
$link-hover-color: #FFA200;
$button-grey-color: #979797;
$button-grey-hover-color: #bababa; 
$button-orange-color: #F58220;
$button-orange-hover-color: #FFA200; 
$table-hover-color: #f1f3f3;

/* Font weight */

$page-header-font-weight: 400;
$section-font-weight: 800;
$text-font-weight: 200;

/* Font size */

$page-header-font-size: 16px; 
$section-font-size: 16px; 
$text-font-size: 12px; 
$large-link-size: 16px;
$small-link-size: 14px;
$button-font-size: 18px;

