.component--small-table {
    height: 200px;
    background-color: white;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
}

.component--small-table {
    table {
        border-collapse: collapse;
    }
}

.small-table2 { 
    td {
        border-bottom: 1px solid #ccc;
        margin: 0 20px 0 20px;
    }
}   

.small-table2 {
    margin: 0 0 0 130px;
}

.small-table3 {
    td {
        border-bottom: 1px solid #ccc;
    }
}   

.small-table3 {
    margin: 0 130px 0 0;
    padding: 0 20px 0 20px;
}

.small-table-2-1strow {
    color: #a6a6a6;
    font-weight: 500;
    font-size: 16px;
    width: 90%;
    padding: 15px 0 15px 0;
}   

.small-table-2-2ndrow {
    font-weight: 200;
    font-size: 16px;
    color: #333333;
}

.cst1 {
    margin: 0 10px 0 0;    
}

.cst2 {
    margin: 0 0 0 10px;    
}